body{
    width: 100%;
    background-color: aqua;
}
.container{
    background-color: palevioletred;
    display: inline-block;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px whitesmoke;
}
input{
    box-shadow: 3px 3px 3px grey;
    background-color: wheat;
    color: black;
}
label{
    text-align: center;
    font-weight: bold;
    justify-content: space-between;
}

button{
    margin-top: 50px;
    padding: 10px 25px;
    border-radius: 7px;
    margin-left: 30%;
    font-size: 16px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(104, 218, 104);
    color: black;
}
